@using CMS2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<style>
    html {
        font-family: "Lucida Sans", sans-serif;
    }

    * {
        box-sizing: border-box;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 0;
    }

    body {
        background-color: #cfebea;
    }


    .header {
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    [class="logo"] {
        width: 66.66%;
        height: 100%;
        float: left;
        padding: 25px;
    }

    [class="name"] {
        float: left;
        width: 33.33%;
        height: 20%;
        padding: 15px;
        background-color: #548b95;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    [class="form"] {
        float: left;
        width: 33.33%;
        height: 80%;
        background-color: #fff;
        padding: 15px;
    }
</style>

<!DOCTYPE html>
<html>

<body>

    <div class="row">

        <div class="logo">
            <img src="~/Content/Images/ambulance-1674877_1280.png" style='height: 100%; width: 100%; object-fit: contain' />
        </div>

        <div class="name">
            <h1>Crisis Management System</h1>
        </div>

        
        <div class="form">
            <h2>@ViewBag.Title.</h2>
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                    }
                </section>
            </div>
            @*
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
            *@
        </div>


    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}