@using CMS2.Utilities;
@using CMS2.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Collapsible sidebar using Bootstrap 3</title>
    <!-- Bootstrap CSS CDN -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Our Custom CSS -->
    @Styles.Render("~/Content/Style2.css")
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    @{
        var userId = (int)Session["userRole"];
    }
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Crisis Management System</h3>
            </div>
            <ul class="list-unstyled components">
                @if (userId == 1)
        {
            <li class='@Html.IsActive("Home", "Index")'>
                @Html.ActionLink("Dashboard", "Index", "Home")
            </li>
            <li class='@Html.IsActive("Crises", "Create")'>
                @Html.ActionLink("Submit New Crisis", "Create", "Crises")
            </li>
            <li class='@Html.IsActive("Crises", "Index")'>
                @Html.ActionLink("Manage Existing Crisis", "Index", "Crises")
            </li>
            <li class='@Html.IsActive("SocialMediaUpdates", "Create")'>
                @Html.ActionLink("Social Media Update", "Create", "SocialMediaUpdates")
            </li>
            <li class='@Html.IsActive("SocialMediaUpdates", "Index")'>
                @Html.ActionLink("View Social Media Updates", "Index", "SocialMediaUpdates")
            </li>
            <li class='@Html.IsActive("SummaryReports", "Index")'>
                @Html.ActionLink("View Summary Reports", "Index", "SummaryReports")
            </li>
}
                @if (userId == 2)
        {
            <li class='@Html.IsActive("Home", "Index")'>
                @Html.ActionLink("Dashboard", "Index", "Home")
            </li>
            <li class='@Html.IsActive("Crises", "Create")'>
                @Html.ActionLink("Submit New Crisis", "Create", "Crises")
            </li>
}
                @if (userId == 3)
        {
            <li class='@Html.IsActive("Home", "Index")'>
                @Html.ActionLink("Dashboard", "Index", "Home")
            </li>
            <li class='@Html.IsActive("Crises", "Index")'>
                @Html.ActionLink("Manage Existing Crisis", "Index", "Crises")
            </li>
            <li class='@Html.IsActive("SocialMediaUpdates", "Create")'>
                @Html.ActionLink("Social Media Update", "Create", "SocialMediaUpdates")
            </li>
            <li class='@Html.IsActive("SocialMediaUpdates", "Index")'>
                @Html.ActionLink("View Social Media Updates", "Index", "SocialMediaUpdates")
            </li>
            <li class='@Html.IsActive("SummaryReports", "Index")'>
                @Html.ActionLink("View Summary Reports", "Index", "SummaryReports")
            </li>
}
            </ul>
            <ul class="list-unstyled CTAs">
                <li class='@Html.IsActive("Login", "Index")'>
                    @Html.ActionLink("LogOut", "Index", "Login")
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>
</html>

