@model CMS2.Models.Crisis

@{
    Layout = "~/Views/Shared/Sidebar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Crisis</h4>
        <hr />
        <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AssistanceRequired.Assistance)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AssistanceRequired.Assistance)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Category.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Category.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Emergency.Level)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Emergency.Level)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CallerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CallerName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CallerNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CallerNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
        </dl>
            </div>
        <div class="col-md-offset-1 col-md-10">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger" })
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
    </p>
</body>
</html>
